:root {
  --bg-color: rgb(242, 229, 247);
  --secondary: #6f42c1;
  --accent: rgb(153, 143, 157);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--bg-color);
}

#app-header {
  height: 80px;
  width: 100vw;

  /* Position */
  position: fixed;
  text-align: center;

  /* Colors */
  background-color: var(--secondary);
  color: var(--bg-color);

  /* Text */
  font-size: 50px;

  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
}

#app-main-container {
  height: 40vh;
  width: 60vw;

  /* Postion */
  position: fixed;
  bottom: 40%;
  left: 20%;

  /* Colors */
  background-color: var(--accent);
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
}

#app-backbutton {
  height: 30px;
  width: 50px;

  background-color: var(--bg-color);
  color: black;
}

#app-backbutton:hover {
  height: 30px;
  width: 50px;

  background-color: var(--accent);
  color: var(--bg-color);
  cursor: pointer;
}

#prediction-display {
  font-size: 50px;
  text-align: center;
  color: var(--secondary);
}

select {
  background-color: var(--bg-color);
  height: 30px;
  width: 175px;
}

#directions-display {
  font-size: 30px;
  text-align: center;
  color: var(--secondary);
}
